# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.pytest_cache/

# Reports
reports/allure-report/
reports/allure-results/
reports/screenshots/

# Playwright
.playwright/
test-results/
playwright-report/
playwright/.cache/

# IDE
.idea/
.vscode/
*.swp
